@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette, 600);
$warn: mat.define-palette(mat.$red-palette);

$customTheme: mat.define-light-theme($primary, $accent, $warn);

@include mat.core();

.container {
    @apply mx-auto max-w-screen-2xl
}